<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="auth-page">
    <div class="auth-image signup-img">
        <h1>Start Investing Smarter</h1>
        <p>Create your account and save your portfolio history.</p>
    </div>

    <div class="auth-card">
        <h1>Create Account</h1>
        <p>Sign up to use AI portfolio optimization.</p>

        <form action="/signup" method="post">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Signup</button>
        </form>

        <a href="/login">Already have an account? Login</a>
    </div>
</div>
</body>
</html>